.container {
    width:1080px;
    margin:0px auto;
    font-size:1em;
    font-family: "Arial", Georgia, Serif;
    font-size: 15px;
  }
  header {
    text-align:center;
    border: 1px solid #e62b2b;
    background: #f04c4c;
  }
  section {
    float: left;
    width: 70%;
    background: #fafafa;
    border: 1px solid #ccc;
  }

  /*Estilos para pantallas grandes*/
  .container{
    width: 1080px;
    margin: 0 auto;
  }

  /*Estilos para pantallas medianas(tablets)*/
  @media(max-width:768px){
.container{
  width:90%;/*Ocupa el 90% del ancho de la pantalla*/
  margin: 0;/*Elimina el margen automatico*/
}
 }

 /*Estilos para pantallas pequeñas(moviles)*/
@media(max-width:480px){
.containar{
  width:95%; /*ocupa el 95% del ancho de la pantalla*/
  margin: 0;
}
}